<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="image">
    <img src="https://d13yacurqjgara.cloudfront.net/users/1055986/screenshots/3045984/24.gif" alt="bender"/>
</div>
<div class="links">
    <a href="/"><button>All</button></a>
    <a href="/?category=Furniture"><button>Furniture</button></a>
    <a href="/?category=Alcohol"><button>Alcohol</button></a>
    <a href="/?category=Toiletries"><button>Toiletries</button></a>
    <a href="/?category=Shoes"><button>Shoes</button></a>
    <a href="/?category=Food"><button>Food</button></a>
    <a href="/?category=Jewelry"><button>Jewelry</button></a>
</div>

<table>
    <tr>
        <th><strong>Name</strong></th>
        <th><strong>Email</strong></th>
        <th><strong>Category</strong></th>
        <th><strong>Credit Card</strong></th>
        <th><strong>CVV</strong></th>
        <th><strong>Date</strong></th>
    </tr>
    {{#purchases}}
    <tr>
        <td>{{#customer}}{{name}}{{/customer}}</td>
        <td>{{#customer}}{{email}}{{/customer}}</td>
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>
    {{/purchases}}
</table>

</body>
</html>